<div class="services-container">
  <aside class="sidebar">
    <nav class="nav">
      <ul class="nav-links" [class.open]="menuOpen">
        <button class="nav-list-close" (click)="closeMenu()">X</button>
        <!-- <li><a routerLink="services" routerLinkActive="active" style="color: brown;">Services</a></li> -->
        <li><a routerLink="catering" routerLinkActive="active">Catering</a></li>
        <li><a routerLink="fashion" routerLinkActive="active">Fashion</a></li>
        <li><a routerLink="event" routerLinkActive="active">Event</a></li>
      </ul>
      <div class="menu-btn" id="menuBtn" (click)="toggleMenu()">☰</div>
    </nav>
  </aside>
</div>

<router-outlet></router-outlet>