<div class="services-container">
  <aside class="sidebar">
    <nav>
      <ul>
        <!-- <li><a routerLink="services" routerLinkActive="active" style="color: brown;">Services</a></li> -->
        <li><a routerLink="catering" routerLinkActive="active">Catering</a></li>
        <li><a routerLink="fashion" routerLinkActive="active">Fashion</a></li>
        <li><a routerLink="event" routerLinkActive="active">Event</a></li>
        
      </ul>
    </nav>
  </aside>
</div>

<router-outlet></router-outlet>